
nav {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(red, green, blue);
    overflow-x: hidden;
}
nav .left, .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
nav .left .main-txt {
    padding: 2px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    font-family: cursive;
    color: blue;
}
nav .right .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
    border-radius: 5px;
    color: rgb(43, 41, 41);
    border: 1px solid rgb(43, 41, 41);
    text-decoration: none;
}
nav .left .main-txt, .txt:hover, .btn:hover {
    cursor: pointer;
}
nav .left .active, nav .right .active {
    color:rgb(131, 82, 82);
    text-decoration: underline;
}

@media only screen and (max-width: 700px) {
    nav .left .main-txt {
        text-align: center;
        font-size: 30px;
    }
    nav .right .btn {
        text-align: center;
        font-size: 10px;
        padding: 4px;
    }
}
@media only screen and (max-width: 484px) {
    nav .left .main-txt {
        font-size: 17px;
    }
    nav .right .btn {
        text-align: center;
        font-size: 8px;
        padding: 4px;
    }
}
@media only screen and (max-width: 388px) {
    nav .left .main-txt {
        font-size: 13px;
    }
    nav .right .btn {

        font-size: 8px;
        padding: 4px;

    }
}
@media only screen and (max-width: 340px) {

    nav .right .btn {
        height: 18px;
        padding: 1px;
    }
}